@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
/* -------------------------------- */
body {
    font-family: "Quicksand", serif;
    max-width: 1440px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

/* Colors */
.orange {
    color: orange;
}
.blue {
    color: skyblue;
}
.cyan {
    color: #05D4DF;
}
.purple {
    color: #5D58EF;
}
.grey {
    color: #808080;
}
.white {
    color: white;
}
.cyan-bg {
    background-color: #3CD8E8;
}
.green-bg {
    background-color: #95B226
}
.purple-bg {
    background-color: #5D58F0;
}

/* Buttons */
.primary-btn {
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    color: white;    
    border-radius: 12px;
    border: none;
}
.btn-2 {
    background-color: black;
}

/* -------------------------------- */

.nav-big {
    display: flex;
    height: 120px;
    margin: 20px 140px;
    align-items: center;
    justify-content: space-between;
}
.nav-big .logo  {
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav-big img {
    height: 62px;
}
.nav-big h2 {
    font-size: 32px;
}
.nav-big .nav-links {
    display: flex;
    align-items: center;
}
.nav-big .nav-links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-big .btn-1 {
    background-color: orange;
}
.nav-small {
    display: none;
}

.hero-area {
    display: flex;
    align-items: center;
    margin: 20px 140px;
}
.hero-area h1 {
    font-size: 56px;
    line-height: 1.1;
}
.hero-area p {
    font-size: 20px;
}

.curriculum-bg {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: 60px 50px;
}
.curriculum {
    margin: 0 140px;
    padding: 60px  0;
    text-align: center;
}
.curriculum h1 { 
    font-size: 46px;
}
.curriculum .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 80px 0;
}
.curriculum .cards a {
    font-weight: bold;
    text-decoration: none;
}
.curriculum .cards h3 {
    font-size: 24px;
}
.curriculum .cards p {
    font-size: 15px;
}
.curriculum .cards .card-1 {
    border-radius: 18px;
    border: 1px solid #def5ff;
    padding: 40px;
    width: 368px;
    height: 476px;
    background: linear-gradient(180deg, #def5ff 0%, #ffffff 35%); 
}
.curriculum .cards .card-2 {
    border-radius: 18px;
    border: 1px solid #FFF4DC;
    padding: 40px;
    width: 368px;
    height: 481px;
    background: linear-gradient(180deg, #FFF4DC 0%, #ffffff 35%); 
}
.curriculum .cards .card-3 {
    border-radius: 18px;
    border: 1px solid #F2E8FF;
    padding: 40px;
    width: 368px;
    height: 476px;
    background: linear-gradient(180deg, #F2E8FF 0%, #ffffff 35%); 
}
.curriculum .fa-solid {
    background-color: orange;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    padding: 15px;
}
.curriculum .fa-solid:hover {
    color: skyblue;
    cursor: pointer;
}

.stories-bg {
    background-image: url('assets/bg.png'), linear-gradient(to bottom, rgba(255,255,255,1), rgb(254, 236, 205)); 
}
.stories {
    margin: 0 140px;
    padding: 60px 0;
}
.stories h1 {
    text-align: center;
    font-size: 46px;
}
.card-container {
    padding: 80px 0;
    display: grid;
    grid-template-areas:
    "card-1 card-2 card-3"
    "card-1 card-4 card-5"
    ;
    gap: 19px;
    justify-content: center;
}
.card-container img {
    border-radius: 16px 16px 0 0;
}
.card-container .card-1 {
    grid-area: card-1;
    border-radius: 16px;
    height: 631px;
    background-color: white;
}
.card-container .card-2 {
    grid-area: card-2;
    border-radius: 16px;
    height: 302px;
    background-color: white;
}
.card-container .card-3 {
    grid-area: card-3;
    border-radius: 16px;
    height: 302px;
    background-color: white;
}
.card-container .card-4 {
    grid-area: card-4;
    border-radius: 16px;
    height: 302px;
    background-color: white;
}
.card-container .card-5 {
    grid-area: card-5;
    border-radius: 16px;
    height: 302px;
    background-color: white;
}
.card-container .date {
    height: 48px;
    width: 175px;
    font-family: "Raleway", serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container .card-texts {
    padding: 0 34px;
    font-size: 15px;
    position: relative;
    top: -45px;
}
.card-container .card-texts #card-exeption-h3 {
    font-size: 24px;
}
.card-container .card-texts #card-exeption-p {
    font-size: 16px;
    margin-top: 48px;
    color: #666666;
}
.stories .btn-2-container {
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #01ACFD;
    padding: 123px 228px 174px 140px;
}
.footer a {
    text-decoration: none;
}
.footer .column-1 img {
    height: 82px;
}
.footer .column-1 {
    width: 400px;
}
.footer .column-1 .footer-title {
    display: flex;
    align-items: center;
}
.footer .column-1 h1 {
    font-size: 40px;
    line-height: 1;
    position: relative;
    top: 5px
}
.footer .column-1 p {
    font-size: 20px;
}
.footer .column-2 h3 {
    font-size: 24px;
}
.footer .column-2 p {
    font-size: 20px;
}
.footer .column-2 h2 {
    font-size: 26px;
}


/* Styles for Mobile */
/* -------------------------------- */
@media screen and (max-width: 576px) {
     /* Shared Styles */
    /* -------------------------------- */
    .btn-small {
        height: 42px;
        width: 131px;
        font-size: 16px;
        border-radius: 8px;
    }
    /* -------------------------------- */

    .nav-big {
        display: none;
    }
    .nav-small{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 1px solid orange;
    }
    .nav-small img {
        height: 42px
    }
    .nav-small i {
        font-size: 30px;
    }

    .hero-area {
        flex-direction: column-reverse;
        margin: 0 16px;
        text-align: center;
    }
    .hero-area h1 {
        font-size: 32px;
    }
    .hero-area p {
        font-size: 14px;
        font-weight: 500;
    }
    .hero-area img {
        width: 95%;
    }

    .curriculum {
        margin: 0 16px;
        padding: 40px 0;
    }
    .curriculum .cards {
        padding: 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .curriculum .cards .card-1,
    .curriculum .cards .card-2,
    .curriculum .cards .card-3 {
        width: 280px;
    }
    .curriculum .fa-solid {
        display: none;
    }

    .stories {
        margin: 0 16px;
        padding: 40px 0;
    }
    .stories h1 {
        font-size: 24px;
    }
    .card-container {
        padding: 20px 0;
        grid-template-areas:
        "card-2 card-3"
        "card-4 card-5"
        ;
        gap: 11px;
        justify-content: center;
    }
    .card-container img {
        width: 100%;
    }
    .card-container .card-1 {
        display: none;
    }
    .card-container .card-2,
    .card-container .card-3,
    .card-container .card-4,
    .card-container .card-5 {
        height: 180px;
        width: 173px;
    }
    .card-container .date {
        height: 22px;
        width: 103px;
        font-size: 9px;
        font-weight: 500;
        border-radius: 40px;
    }
    .card-container .card-texts {
        padding: 0 20px;
        font-size: 9px;
        top: -25px;
    }

    .footer{
        flex-direction: column;
        padding: 60px 16px;
    }
    .footer .column-1,
    .footer .column-2,
    .footer .column-3 {
        width: 320px;
    }
    .footer .column-1 img {
        height: 70px;
    }
    .footer .column-1 h1 {
        font-size: 36px;
        line-height: 1;
    }
    .footer .column-1 p {
        font-size: 16px;
    }
    .footer .column-2 h3 {
        font-size: 20px;
        font-weight: 500;
    }
    .footer .column-2 p {
        font-size: 16px;
    }
    .footer .column-2 h2 {
        font-size: 22px;
    }
}

/* Styles for Medium */
/* -------------------------------- */
/* @media screen and (min-width: 576px) and (max-width: 992px) {
    /* .card-container {
        /* padding: 20px 0; */
        /* grid-template-areas:
        "card-2 card-3 card-4"
        "card-5 0      0     "
        ; */
        /* gap: 11px;
        justify-content: center; */
    /* } */
    /* .card-container .card-1 {
        display: none;
    } */
/* } */ 