@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Shared Styles */
/* -------------------------------- */
.orange {
    color: orange;
}
.blue {
    color: skyblue;
}
.cyan {
    color: #05D4DF;
}
.purple {
    color: #5D58EF;
}

.primary-btn {
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    color: white;    
    border-radius: 12px;
    border: none;
}
/* -------------------------------- */

body {
    font-family: "Quicksand", serif;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-big {
    display: flex;
    height: 120px;
    margin: 20px 140px;
    align-items: center;
    justify-content: space-between;
}
.nav-big .logo  {
    display: flex;
    align-items: center;
}
.nav-big img {
    height: 62px;
}
.nav-big h2 {
    font-size: 32px;
}
.nav-big .nav-links {
    display: flex;
    align-items: center;
}
.nav-big .nav-links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-big .btn-1 {
    background-color: orange;
}
.nav-small {
    display: none;
}

.hero-area {
    display: flex;
    align-items: center;
    margin: 20px 140px;
}
.hero-area h1 {
    font-size: 56px;
    line-height: 1.1;
}
.hero-area p {
    font-size: 20px;
}
.hero-area .btn-2 {
    background-color: black;
}


@media screen and (max-width: 576px) {
     /* Shared Styles */
    /* -------------------------------- */
    .btn-small {
        height: 42px;
        width: 131px;
        font-size: 16px;
        border-radius: 8px;
    }
    /* -------------------------------- */

    .nav-big {
        display: none;
    }
    .nav-small{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 1px solid orange;
    }
    .nav-small img {
        height: 42px
    }
    .nav-small i {
        font-size: 30px;
    }

    .hero-area {
        flex-direction: column-reverse;
        margin-left: 16px;
        margin-right: 17px;
        text-align: center;
    }
    .hero-area h1 {
        font-size: 32px;
    }
    .hero-area p {
        font-size: 14px;
        font-weight: 500;
    }
    .hero-area img {
        width: 100%;
    }
}